*.gem
.bundle
Gemfile.lock
pkg
tmp

/*

!.config/
!.gitexcludes
!.github/
!.gitignore
!.reek.yml
!.ruby-version
!.schemas/
!.vscode/
!bin/
!CITATION.cff
!Gemfile
!lib/
!LICENSE.adoc
!Rakefile
!README.adoc
!sorbet/
!spec/
!typed_cache.gemspec
!VERSIONS.adoc
!examples.md
!rbs_collection.yaml
!README.md
!Steepfile
!sig/
!certs/
!.gitattributes
!LICENSE
!rbi/
